<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='static/css/styles.css' type='text/css'/>
        <script type='text/javascript' src='static/js/scripts.js'></script>
        <script type='text/javascript' src='static/js/Chart.min.js'></script>
    </head>
    <body>
        <div class='left-col'>
            <canvas id='lane-graph' width=500 height=750></canvas>
        </div>
        <div class='right-col'>
            <canvas id='speed-graph' width=400 height=250></canvas>
            <canvas id='heading-graph' width=400 height=250></canvas>
        </div>
    </body>
</html>